<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>订单列表</title>
    <head th:include="common/header::html"></head>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item " style="margin:20px 20px;height:40px;">
        <!--<div style="height:40px;width:60px;float:left;line-height:40px;">订单编号:</div>-->
        <!--<input type="text" class="layui-input" style="width:150px;float:left;" id="orderIdKey" name="orderIdKey" value="" lay-verify="" placeholder="请输入快递单号" autocomplete="off">-->
        <!--<div style="height:40px;width:60px;float:left;line-height:40px;">&nbsp;&nbsp;起始日期:</div>-->
        <!--<input type="text" id="startDate" name="startDate"  class="layui-input" style="float:left;width:90px;">-->
        <!--<div style="height:40px;width:60px;float:left;line-height:40px;">&nbsp;&nbsp;结束日期:</div>-->
        <!--<input type="text" id="endDate" name="endDate"  class="layui-input" style="float:left;width:90px;">-->
        <!--<div style="height:40px;width:60px;float:left;line-height:40px;">&nbsp;&nbsp;订单状态:</div>-->
        <!--<div class="layui-input-inline" style="width:125px;">-->
            <!--<select name="orderStatusKey" id="orderStatusKey">-->
                <!--<option value="">请选择订单状态</option>-->
                <!--<option value="0">新订单</option>-->
                <!--<option value="3">已发货</option>-->
                <!--<option value="4">已收货</option>-->
                <!--<option value="1">完结</option>-->
                <!--<option value="2">已取消</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div style="height:40px;width:60px;float:left;line-height:40px;">&nbsp;&nbsp;支付状态:</div>-->
        <!--<div class="layui-input-inline" style="width:125px;">-->
            <!--<select name="payStatusKey" id="payStatusKey">-->
                <!--<option value="">请选择支付状态</option>-->
                <!--<option value="0">等待支付</option>-->
                <!--<option value="1">支付成功</option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="layui-input-inline" style="width:100px;">
            <input type="text" class="layui-input"  id="orderIdKey" name="orderIdKey" value="" lay-verify="" placeholder="请输入快递单号" autocomplete="off">
        </div>
        <div class="layui-input-inline" style="width:100px;">
            <input type="text" id="startDate" name="startDate"  placeholder="请输入起始日期" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width:100px;">
            <input type="text" id="endDate" name="endDate"  class="layui-input" placeholder="请输入结束日期" autocomplete="off" >
        </div>
        <div class="layui-input-inline" style="width:125px;">
            <select name="orderStatusKey" id="orderStatusKey">
            <option value="">请选择订单状态</option>
            <option value="0">新订单</option>
            <option value="3">已发货</option>
            <option value="4">已收货</option>
            <option value="1">完结</option>
            <option value="2">已取消</option>
            </select>
        </div>
        <div class="layui-input-inline" style="width:125px;">
            <select name="payStatusKey" id="payStatusKey">
            <option value="">请选择支付状态</option>
            <option value="0">等待支付</option>
            <option value="1">支付成功</option>
            </select>
        </div>
        <div class="layui-input-inline" style="width:80px;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon"></i>搜索
            </a>
        </div>
        <div class="layui-input-inline" style="width:80px;">
            <button class="layui-btn layui-btn-normal" id="reset"  name="reset" type="reset">
                <i class="layui-icon">&#xe669;</i>重置
            </button>
        </div>
    </div>
</form>
<div style="margin-left: 20px;">
    <table id="orders" lay-filter="orders"></table>
</div>
<div id="formData" style="display:none;width:750px;padding-top:10px;">
    <form id="orderForm" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">订单编号</label>
            <div class="layui-input-block">
                <input type="text" name="orderId" id="orderId" style='background-color:#F8F8F8;' readonly="readonly" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单总价</label>
            <div class="layui-input-block">
                <input type="text" name="orderAmount" id="orderAmount" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收货人</label>
            <div class="layui-input-block">
                <input type="text" name="buyerName" id="buyerName" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收货电话</label>
            <div class="layui-input-block">
                <input type="text" name="buyerPhone" id="buyerPhone" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单地址</label>
            <div class="layui-input-block">
                <input type="text" name="buyerAddress" id="buyerAddress" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮政编码</label>
            <div class="layui-input-block">
                <input type="text" name="buyerPostcode" id="buyerPostcode" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" title="详情" lay-event="show">详情</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" title="编辑" lay-event="edit">编辑</a>
    {{#
    if(d.orderStatus==0 && d.payStatus==1){  }}
    <a class="layui-btn layui-btn-xs layui-btn-warm" title="发货" lay-event="delivery">发货</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" title="取消" lay-event="cancel">取消</a>
    {{#  }if(d.orderStatus==0 && d.payStatus==0){  }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" title="取消" lay-event="cancel">取消</a>
    {{#  }if(d.orderStatus==4 && d.payStatus==1){  }}
    <a class="layui-btn layui-btn-xs layui-btn-warm" title="完结" lay-event="finish">完结</a>
    {{#  }
    }}

</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    var upload;
    var laydate;
    var element;
    layui.use(['layer', 'table','form','upload','laydate','element'], function ()
    {
        table = layui.table;
        layer = layui.layer;
        form =layui.form;
        upload=layui.upload;
        laydate=layui.laydate;
        element=layui.element;
        layui.laytpl.fn = function (value)
        {
            //json日期格式转换为正常格式
            var date = new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + day;
        }
        var start=laydate.render({
            elem: '#startDate', //指定元素
            type: 'date',
            max: 'date',
            btns:['clear','confirm'],
            done:function(value,date){
                endMax=end.config.max;
                end.config.min=date;
                end.config.min.month=date.month-1;
            }
        });
        var end=laydate.render({
            elem: '#endDate', //指定元素
            type:'date',
            max:'date',
            done:function(value,date){
                if($.trim(value)==''){
                    var curDate=new Date();
                    date={'date':curDate.getDate(),'month':curDate.getMonth()+1,'year':curDate.getFullYear()};
                }
                start.config.max=date;
                start.config.max.month=date.month-1;
            }
        });
        //--------------方法渲染TABLE----------------
        var tableIns = table.render({
            elem: '#orders'
            , id: 'orders'
            , url: context+'/pc/order/findBySplitPage'
            , cols: [[
                { field: 'orderId', title: '订单编号', width: 210, align: 'center' }
                , { field: 'buyerName', title: '下单用户', width: 130, align: 'center'}
                , { field: 'buyerPhone', title: '用户电话', width: 130, align: 'center'}
                , { field: 'createTime', title: '下单日期', sort:true,width: 170, align: 'center' }
                , { field: 'orderAmount', title: '订单总价', width: 110, align: 'center' }
                ,{field:'orderStatus', title: '订单状态', width: 110, align: 'center',templet:'#orderStatus'}
                ,{field:'payStatus', title: '支付状态', width: 110, align: 'center',templet: '#payStatus'}
                , {title: '操作', fixed: 'right', width: 200, align: 'left', toolbar: '#bar'}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10 //默认采用10
            , done: function (res, curr, count)
            {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);
                //得到当前页码
                //console.log(curr);
                $("#curPageIndex").val(curr);
                //得到数据总量
                //console.log(count);
            }
        });

        //#region --------------搜索----------------
        $("#search").click(function ()
        {
            var orderIdKey=$("#orderIdKey").val();
            var startDate=$("#startDate").val();
            var endDate=$("#endDate").val();
            var orderStatusKey=$("#orderStatusKey").val();
            var payStatusKey=$("#payStatusKey").val();
            tableIns.reload({
                url:context+"pc/order/searchByKey?orderIdKey="+orderIdKey+"&orderStatusKey="+orderStatusKey+"&payStatusKey="+
                    payStatusKey+"&startDate="+startDate+"&endDate="+endDate,
                where: {
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        //#endregion

        //工具条事件监听
        table.on('tool(orders)', function (obj)
        { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            console.log(data)
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'edit')
            { //编辑
                layer.open({
                    type: 1,
                    title: '编辑订单信息',
                    shade: 0.4,  //阴影度
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['800px;', '400px;'],    //窗体大小（宽,高）
                    content: $('#formData'),
                    success: function (layero, index)
                    {
                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        $("#orderId").val(data.orderId);
                        $("#orderAmount").val(data.orderAmount);
                        $("#buyerName").val(data.buyerName);
                        $("#buyerPhone").val(data.buyerPhone);
                        $("#buyerPostcode").val(data.buyerPostcode);
                        $("#buyerAddress").val(data.buyerAddress);
                        form.render();
                        body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                    },
                    btn:['修改','取消'],
                    yes: function(index, layero){
                        $.post(context+'pc/order/update',$('#orderForm').serialize(),function(res){
                            if (res.code == 0)
                            {
                                parent.layer.msg('修改成功', { icon: 1, shade: 0.4, time: 1000 });
                                // $("#search").click();
                                tableIns.reload();
                                $("#handle_status").val('');
                            }
                            else
                            {
                                parent.layer.msg('修改失败', { icon: 5, shade: 0.4, time: 1000 });
                            }
                            layer.close(index);
                        });
                    }
                });
            }else if(layEvent === 'cancel'){
                layer.confirm('是否取消该订单？', {
                    btn: ['确认', '取消'] //可以无限个按钮
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "get",
                            url: context+"wx/order/cancel",
                            data: {orderId:data.orderId,openId:data.buyerOpenid},
                            success: function(res){
                                if(res.code==0){
                                    parent.layer.msg('取消订单成功', { icon: 1, shade: 0.4, time: 1000 });
                                }else{
                                    parent.layer.msg('取消订单失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        layer.close(index);
                        tableIns.reload();
                    }
                });
            }else if(layEvent === 'delivery'){
                    layer.confirm('是否发货该订单？', {
                        btn: ['确认', '取消'] //可以无限个按钮
                        ,btn1: function(index, layero){
                            $.ajax({
                                type: "get",
                                url: context+"pc/order/delivery",
                                data: "orderId="+data.orderId,
                                success: function(res){
                                    if(res.code==0){
                                        parent.layer.msg('发货成功', { icon: 1, shade: 0.4, time: 1000 });
                                    }else{
                                        parent.layer.msg('发货失败', { icon: 5, shade: 0.4, time: 1000 });
                                    }
                                }
                            });
                            layer.close(index);
                            tableIns.reload();
                        }
                    });
            }else if(layEvent === 'finish') {
                layer.confirm('是否完结该订单？', {
                    btn: ['确认', '取消'] //可以无限个按钮
                    , btn1: function (index, layero) {
                        $.ajax({
                            type: "get",
                            url: context + "pc/order/finish",
                            data: "orderId=" + data.orderId,
                            success: function (res) {
                                if (res.code == 0) {
                                    parent.layer.msg('操作成功', {icon: 1, shade: 0.4, time: 1000});
                                } else {
                                    parent.layer.msg('操作失败', {icon: 5, shade: 0.4, time: 1000});
                                }
                            }
                        });
                        layer.close(index);
                        tableIns.reload();
                    }
                });
            }else if(layEvent ==='show'){
                var str="";
                $.ajax({
                    type : "get",
                    url : context+"pc/order/searchByKey?page=1&limit=10",
                    async: false,
                    data:"orderIdKey="+data.orderId,
                    dataType : "json",
                    success : function(res) {
                        str = str+ "<div class='layui-collapse' lay-accordion=''>";
                        // var date=new Date(data.orderDate).toLocaleString();
                        str = str
                            + "<div class='layui-colla-item'>"
                            + "<h2 class='layui-colla-title'>订单编号："
                            + res.data[0].orderId
                            + "&nbsp;&nbsp;总价："
                            + res.data[0].orderAmount
                            + "元&nbsp;订单日期："+res.data[0].createTime+"</h2>"
                            + "<div class='layui-colla-content layui-show'><h4>收货人："
                            + res.data[0].buyerName
                            + "&nbsp;&nbsp;收货地址："
                            + res.data[0].buyerAddress
                            + "&nbsp;电话："+res.data[0].buyerPhone+"</h4>"
                            + "<div class='layui-form'><table class='layui-table'><thead><tr><th>商品名称</th><th>图片</th><th>价格</th><th>数量</th><th>小计</th></tr>"
                            + "</thead><tbody>";
                        var arr = res.data[0].orderDetailList;
                        console.log(arr)
                        for (var t = 0; t <arr.length; t++) {
                            var productId=arr[t].productId;
                            str = str
                                + "<tr><td>"
                                + arr[t].productName
                                + "</td>" + "<td>"
                                + "<img src='"+arr[t].productIcon+"'style='height:50px;' />"
                                + "</a></td>" + "<td>"
                                + arr[t].productPrice
                                + "</td><td>"
                                + arr[t].productQuantity
                                + "件</td><td>"
                                + arr[t].productPrice
                                * arr[t].productQuantity + "元</td>"
                                + "</tr>";
                        }
                        str = str
                            + "</tbody></table></div>"
                            + "</div></div>";
                        str = str + "</div>";
                    }
                });
                layer.open({
                    type: 1,
                    title: '查看订单详情',
                    shade: 0.4,  //阴影度
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['800px;', '400px;'],    //窗体大小（宽,高）
                    content: str,
                    success: function (layero, index)
                    {
                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        element.render();
                        body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                    },
                    btn:['关闭'],
                    yes: function(index, layero){
                        layer.close(index);
                    }
                });
            }
        });
    });
    function deliverOrder(id){
        layer.open({
            type: 1,
            title: '发货',
            shade: 0.4,  //阴影度
            fix: false,
            shadeClose: true,
            maxmin: false,
            area: ['600px;', '250px;'],    //窗体大小（宽,高）
            content: "<div style='width:500px;padding-top:15px;'><div class='layui-form-item'><label class='layui-form-label'>订单编号</label>"+
                "<div class='layui-input-block'><input type='text' name='orderId' id='orderId' style='background-color:#F8F8F8;' "+
                " readonly='readonly' required lay-verify='required' value='"+id+"' class='layui-input' /></div></div>"+
                "<div class='layui-form-item'><label class='layui-form-label'>快递单号</label><div class='layui-input-block'><input type='text' "+
                " id='expressNo' required lay-verify='required' class='layui-input' /></div></div></div>",
            success: function (layero, index)
            {
                var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
            },
            btn:['发货','取消'],
            yes: function(index, layero){
                var no=$("#expressNo").val();
                $.post('order/deliverOrder',{orderId:id,expressNo:no},function(msg){
                    if (msg == 'success')
                    {
                        parent.layer.msg('发货成功', { icon: 1, shade: 0.4, time: 1000 });
                        $("#search").click();
                        $("#handle_status").val('');
                    }
                    else
                    {
                        parent.layer.msg('发货失败', { icon: 5, shade: 0.4, time: 1000 });
                    }
                    layer.close(index);
                });
            }
        });
    }
</script>
<script type="text/html" id="orderStatus">
    {{#
    if (d.orderStatus===0) { }}
    <span style="color: #5FB878;font-weight:bold">新订单</span>
    {{#  }else if(d.orderStatus===3){ }}
    <span style="color: #2F4056;font-weight:bold">已发货</span>
    {{#  }else if(d.orderStatus===4){ }}
    <span style="color: #C71585;font-weight:bold">已收货</span>
    {{#  }else if(d.orderStatus===1){ }}
    <span style="color: #FFB800;font-weight:bold">完结</span>
    {{#  }else if(d.orderStatus===2){ }}
    <span style="color: #FF5722;font-weight:bold">已取消</span>
    {{#  }
    }}
</script>
<script type="text/html" id="payStatus">
    {{#
    if (d.payStatus===0) { }}
    <span style="color: #FF0000;font-weight:bold">等待支付</span>
    {{#  }else if(d.payStatus===1){ }}
    <span style="color: #009688;font-weight:bold">支付成功</span>
    {{#  }
    }}
</script>
</body>
</html>