<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <head th:include="common/header::html"></head>
</head>
<body>

<div class="layui-form-item" style="margin:15px 15px;height:30px;">
    <div class="layui-input-inline" style="width:100px;">
        <input type="text" id="searchId" name="searchId" value="" lay-verify="" placeholder="搜索编号" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-input-inline" style="width:100px;">
        <input type="text" id="searchName" name="searchName" value="" lay-verify="" placeholder="搜索商品名称" autocomplete="off" class="layui-input">
    </div>
    <!--<div class="layui-input-inline" style="width:100px;">-->
        <!--<input type="text" id="searchType" name="searchType" value="" lay-verify="" placeholder="搜索商品分类" autocomplete="off" class="layui-input">-->
    <!--</div>-->
    <div class="layui-form layui-input-inline" style="width:100px;">
        <select id="searchType" class="layui-input" >
        </select>

    </div>

    <div class="layui-input-inline">
        <button class="layui-btn" id="search" data-type="reload" name="search">
            <i class="layui-icon"></i>搜索
        </button>
    </div>
    <div style="float:right;width:110px;height:35px;">
        <div class="layui-input-inline" style="width:100px;">
            <button class="layui-btn layui-btn-warm" id="takeOffBatch" name="takeOffBatch">
                <i class="layui-icon">&#x1006;</i>批量下架
            </button>
        </div>
    </div>
    <div style="float:right;width:110px;height:35px;">
        <div class="layui-input-inline" style="width:100px;">
            <button class="layui-btn layui-btn-success" id="putOnBatch" name="putOnBatch">
                <i class="layui-icon">&#x1006;</i>批量上架
            </button>
        </div>
    </div>

</div>
<div>
    <table id="goods" lay-filter="goods"></table>
</div>
<div id="editForm" style="display:none;width:800px;padding-top:10px;">
    <form id="formData" class="layui-form">
        <input type="hidden" name="productId" id="productId" >
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <input type="text" name="productName" id="productName"required lay-verify="required" placeholder="请输入商品名称" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item" lay-filter="test">
            <label class="layui-form-label">商品类别</label>
            <div class="layui-input-inline">
                <select name="categoryType" id="category" required lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品价格</label>
            <div class="layui-input-block">
                <input type="text" name="productPrice" id="productPrice" required lay-verify="required" placeholder="请输入商品价格" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品库存</label>
            <div class="layui-input-block">
                <input type="text" name="productStock" id="productStock" required lay-verify="required" placeholder="请输入商品库存" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品图片</label>
            <input type="hidden" name="productImg" id="productUrl" value=""/>
            <img style="width:260px;height:180px;" src="" id="productImg">
            <button type="button" class="layui-btn layui-btn-warm" id="uploadGoodsImg">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <div style="display:inline-block;" id="newImg"></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品描述</label>
            <div class="layui-input-block">
                <textarea name="productDescription" id="productDescription"  required lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品状态</label>
            <div class="layui-input-block">
                <!--<input type="text" name="productStatus" id="productStatus" required lay-verify="required"  value="" class="layui-input" />-->
                <input type="radio" name="productStatus" id="shangjia" value="0" title="上架">
                <input type="radio" name="productStatus" id="xiajia" value="1" title="下架">
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" title="编辑" lay-event="edit">编辑</a>
    {{# if(d.productStatus==0){  }}
       <a class="layui-btn layui-btn-xs layui-btn-warm" title="下架" lay-event="take-off">下架</a>
    {{#  }if(d.productStatus==1){ }}
       <a class="layui-btn layui-btn-xs layui-btn-success" title="上架" lay-event="put-on">上架</a>
    {{#  }
    }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" title="删除" lay-event="delete">删除</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var categoryList;
    var table;
    var layer;
    var form;
    var upload;
    layui.use(['layer', 'table','form','upload'], function ()
    {
        table = layui.table;
        layer = layui.layer;
        form =layui.form;
        upload=layui.upload;
        layui.laytpl.fn = function (value)
        {
            //json日期格式转换为正常格式
            var date = new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + day;
        }
        var uploadInst = upload.render({
            elem: '#uploadGoodsImg' //绑定元素
            ,url: context+'/pc/upload/uploadImg' //上传接口
            ,data:'json'
            ,done: function(res){
                layer.msg("上传图片成功！",{icon:1,time:2000});
                var str="<img style='width:280px;height:160px;' src='"+res.src+"' />";
                $("#newImg").html(str);
                $("#productUrl").val(res.src);

            }
            ,error: function(){
                layer.msg("图片上传失败！请重试！",{icon:5,time:2000});
            }
        });
        $.ajax({
            type: "get",
            url: context+"/wx/category/getAll",
            success: function(result){
                categoryList=result.data;
                var str="<option value=\"\">商品分类</option>";
                for(var i=0;i<result.data.length;i++){
                    str=str+"<option value='"+result.data[i].categoryType+"'>"+result.data[i].categoryName+"</option>";
                }
                $("#category").html(str);
                $("#searchType").html(str);
                form.render();
            }
        });

        //--------------方法渲染TABLE----------------
        var tableIns = table.render({
            elem: '#goods'
            , id: 'goods'
            , url: context+'/pc/product/findBySplitPage'
            , cols: [[
                { checkbox: true, LAY_CHECKED: false } //其它参数在此省略
                , { field: 'productId', title: '编号', width: 140, align: 'center' }
                , { field: 'productName', title: '商品名称', width: 160, align: 'center' }
                , {field:'category', title: '分类', width: 120 ,align: 'center',templet: function(d){
                        return d.category.categoryName
                    }
                }
                , { field: 'productPrice', title: '价格', width: 100,sort:true, align: 'center' }
                , { field: 'productStock', title: '库存', width: 100,sort:true, align: 'center' }
                ,{field:'productImg', title: '商品图片', width: 160 ,align: 'center',templet:function (d) {
                        return '<a href="'+d.productImg+'"><img src="'+d.productImg+'"/></a>'
                    }}
                , { field: 'productDescription', title: '商品描述', width: 180, align: 'center' }
                , { field: 'productStatus', title: '商品状态', width: 100, align: 'center',templet: '#proStatus'}
                , {title: '操作', fixed: 'right', width: 160, align: 'center', toolbar: '#bar' }
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10 //默认采用10
            , done: function (res, curr, count)
            {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);
                //得到当前页码
                //console.log(curr);
                $("#curPageIndex").val(curr);
                //得到数据总量
                //console.log(count);
            }
        });

        //#region --------------搜索----------------
        $("#search").click(function ()
        {
            var searchId= $("#searchId").val();
            var searchName= $("#searchName").val();
            var searchType= $("#searchType").val();
            for(var i=0;i<categoryList.length;i++){
                var categoryName=categoryList[i].categoryName
                if(searchType==categoryName){
                    searchType=categoryList[i].categoryType
                }
            }
            tableIns.reload({
                url:context+"/pc/product/search?searchId="+searchId+"&searchName="+searchName+"&searchType="+searchType,
                where: {
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        //#endregion

        //#region --------------批量上架----------------
        $("#putOnBatch").click(function ()
        {
            var checkStatus = table.checkStatus('goods');
            var count = checkStatus.data.length;//选中的行数
            if (count > 0)
            {
                parent.layer.confirm('确定要上架所选商品？', { icon: 3 }, function (index)
                {
                    var data = checkStatus.data; //获取选中行的数据
                    var batchId = '';
                    for (var i = 0; i < data.length; i++)
                    {
                        batchId += data[i].productId + ",";
                    }
                    $.ajax({
                        url: context+'/pc/product/putOnBatch',
                        type: "get",
                        data: { 'batchId': batchId },
                        success: function (result){
                            if (result.code==0){
                                parent.layer.msg('批量上架成功', { icon: 1, shade: 0.4, time: 1000 });
                                //重载表格
                                tableIns.reload();
                            }else{
                                parent.layer.msg("批量上架失败", { icon: 5, shade: [0.4], time: 1000 });
                            }
                            parent.layer.close(index);
                        }
                    })
                });
            }
            else
                parent.layer.msg("请至少选择一条数据", { icon: 5, shade: 0.4, time: 1000 });
        });

        //#region --------------批量下架----------------
        $("#takeOffBatch").click(function ()
        {
            var checkStatus = table.checkStatus('goods');
            var count = checkStatus.data.length;//选中的行数
            if (count > 0)
            {
                parent.layer.confirm('确定要下架所选商品？', { icon: 3 }, function (index)
                {
                    var data = checkStatus.data; //获取选中行的数据
                    var batchId = '';
                    for (var i = 0; i < data.length; i++)
                    {
                        batchId += data[i].productId + ",";
                    }
                    $.ajax({
                        url: context+'/pc/product/takeOffBatch',
                        type: "get",
                        data: { 'batchId': batchId },
                        success: function (result){
                            if (result.code==0){
                                parent.layer.msg('批量下架成功', { icon: 1, shade: 0.4, time: 1000 });
                                //重载表格
                                tableIns.reload();
                            }else{
                                parent.layer.msg("批量下架失败", { icon: 5, shade: [0.4], time: 1000 });
                            }
                            parent.layer.close(index);
                        }
                    })
                });
            }
            else
                parent.layer.msg("请至少选择一条数据", { icon: 5, shade: 0.4, time: 1000 });
        });
        //#endregion

        //#endregion
        //工具条事件监听
        table.on('tool(goods)', function (obj)
        { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var productId = data.productId;
            if (layEvent === 'edit')
            { //编辑
                console.log(11111111)
                console.log($("#newImg"))
                $("#newImg").empty();
                layer.open({
                    type: 1,
                    title: '编辑商品信息',
                    shade: 0.4,  //阴影度
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['900px;', '540px;'],    //窗体大小（宽,高）
                    content: $('#editForm'),
                    success: function (layero, index)
                    {
                        $("#newImg").html("");
                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        $("#productId").val(data.productId);
                        $("#productName").val(data.productName);
                        $("#productPrice").val(data.productPrice);
                        $("#productStock").val(data.productStock);
                        $("#category").val(data.category.categoryType);
                        $("#productUrl").val(data.productImg);
                        $("#productImg").attr("src",data.productImg);
                        $("#productDescription").val(data.productDescription);
                        $("#shangjia").prop("checked", data.productStatus== 0 ? true : false);
                        $("#xiajia").prop("checked", data.productStatus== 1 ? true : false);
                        form.render();
                        body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                    },
                    btn:['修改','取消'],
                    yes: function(index, layero){

                        if($("#productPrice").val()==null || $("#productPrice").val()==""){
                            layer.msg('商品价格为必填项', { icon: 5, shade: 0.4, time: 2000 });
                            return
                        }
                        if($("#category option:selected").val()==null || $("#category option:selected").val()==""){
                            layer.msg('商品分类为必填项', { icon: 5, shade: 0.4, time: 2000 });
                            return
                        }
                        $.post(context+'/pc/product/update',$('#formData').serialize(),function(res){
                            if ( res.code==0)
                            {
                                parent.layer.msg('修改成功', { icon: 1, shade: 0.4, time: 1000 });
                                tableIns.reload();
                                $("#handle_status").val('');

                            }
                            else
                            {
                                parent.layer.msg('修改失败', { icon: 5, shade: 0.4, time: 1000 });
                            }
                            $("#newImg").html("");
                            layer.close(index);
                        });
                    },
                    // cancel:function(index,layero){
                    //     $("#newImg").html("");
                    //     return false;
                    // }


                });
            }else if(layEvent === 'take-off'){
                layer.confirm('是否下架该商品？', {
                    btn: ['确认', '取消'] //可以无限个按钮
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "get",
                            url: context+"/pc/product/takeOff",
                            data: "productId="+data.productId,
                            success: function(res){
                                if(res.code==0){
                                    parent.layer.msg('下架成功', { icon: 1, shade: 0.4, time: 1000 });
                                }else{
                                    parent.layer.msg('下架失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        layer.close(index);
                        //重载表格
                        tableIns.reload();
                    }
                });
            }else if(layEvent === 'put-on'){
                layer.confirm('是否上架该商品？', {
                    btn: ['确认', '取消'] //可以无限个按钮
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "get",
                            url: context+"/pc/product/putOn",
                            data: "productId="+data.productId,
                            success: function(res){
                                if(res.code==0){
                                    parent.layer.msg('上架成功', { icon: 1, shade: 0.4, time: 1000 });
                                }else{
                                    parent.layer.msg('上架失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        layer.close(index);
                        // location.reload();
                        tableIns.reload();
                    }
                });
            }else if(layEvent === 'delete'){
                layer.confirm('是否删除该商品？', {
                    btn: ['确认', '取消'] //可以无限个按钮
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "get",
                            url: context+"pc/product/delete",
                            data: "productId="+data.productId,
                            success: function(res){
                                if(res.code==0){
                                    parent.layer.msg('删除成功', { icon: 1, shade: 0.4, time: 1000 });
                                }else{
                                    parent.layer.msg('删除失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        $(tr).remove();
                        layer.close(index);
                    }
                });
            }
        });
    });
</script>
<script type="text/html" id="proStatus">
    {{#
    if (d.productStatus===0) { }}
    <span style="color: #189F92;font-weight:bold">上架</span>
    {{#  }else { }}
    <span style="color: #ff0000;font-weight:bold">下架</span>
    {{#  }
    }}
</script>
<!--<script type="text/html" id="proImg">-->
    <!--<img src="{{ d.productImg }}">-->
<!--</script>-->
<script type="text/javascript" th:inline="none">
    // $(document).ready(function () {
    //
    //     //刷新一次页面而且仅刷新一次
    //     if(location.href.indexOf("#reloaded")==-1){
    //         location.href=location.href+"#reloaded";
    //         location.reload();
    //     }
    // })

</script>
</body>
</html>