<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>类目管理</title>
    <head th:include="common/header::html"></head>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item" style="margin:15px;height:30px;">
        <div style="height:40px;width:60px;float:left;line-height:40px;">类目名称:</div>
        <input type="text" class="layui-input" style="display:inline-block;width:250px;float:left;" id="keyword" name="categoryName" value="" lay-verify="" placeholder="请输入分类名" autocomplete="off">
        <div class="layui-input-inline" style="width:150px;text-align:center;">
            <a class="layui-btn" id="search" data-type="reload" name="search">
                <i class="layui-icon"></i>搜索
            </a>
        </div>
        <div style="float:right;width:400px;height:40px;">
            <div class="layui-input-inline" style="width:100px;margin-right:20px;">
                <a class="layui-btn layui-btn-normal" id="add" name="add">
                    <i class="layui-icon">&#xe654;</i>添加分类
                </a>
            </div>
            <!--<div class="layui-input-inline" style="width:100px;">-->
                <!--<a class="layui-btn layui-btn-normal" id="delete" name="delete">-->
                    <!--<i class="layui-icon">&#x1006;</i>批量删除-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</form>
<div style="margin-left: 15px;margin-top: 20px;">
    <table id="type" lay-filter="type"></table>
</div>
<div id="formData" style="width:600px;display:none;padding-top:15px;">
    <form class="layui-form" id="typeForm">
        <input type="hidden" name="categoryType" id="categoryType" />
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="categoryName" id="categoryName" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类目图标</label>
            <input type="hidden" name="categoryIco" id="categoryIco" value=""/>
            <img style="width:150px;height:100px;" src="" id="categoryImg">
            <button type="button" class="layui-btn  layui-btn-sm layui-btn-warm" id="uploadGoodsImg">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <div style="display:inline-block;" id="newImg"></div>
        </div>
    </form>
</div>
<div id="addData" style="width:600px;display:none;padding-top:15px;">
    <form class="layui-form" id="addTypeForm">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="categoryName" id="categoryName2" required lay-verify="required" value="" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类目图标</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <div style="display:inline-block" id="newImg2"></div>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" title="编辑" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" title="刪除" lay-event="delete">刪除</a>
</script>
<script type="text/html" id="dateTpl">
    {{ layui.laytpl.fn(d.editdate) }}
</script>
<script type="text/javascript" th:inline="none">
    var table;
    var layer;
    var form;
    layui.use(['layer', 'table','form','upload'], function ()
    {
        table = layui.table;
        layer = layui.layer;
        form =layui.form;
        upload=layui.upload;

        var uploadInst = upload.render({
        elem: '#uploadGoodsImg' //绑定元素
        ,url: context+'/pc/upload/uploadImg' //上传接口
        ,data:'json'
        ,done: function(res){
            layer.msg("上传图片成功！",{icon:1,time:2000});
            var str="<img style='width:150px;height:100px;' src='"+res.src+"' />";
            $("#newImg").html(str);
            $("#categoryIco").val(res.src);
        }
        ,error: function(){
            layer.msg("图片上传失败！请重试！",{icon:5,time:2000});
        }
    });
        upload.render({
            elem: '#test1' //绑定元素
            ,url: context+'/pc/upload/uploadImg' //上传接口
            ,done: function(res){
                layer.msg("上传图片成功！",{icon:1,time:2000});
                var str="<img style='width:150px;height:100px;' src='"+res.src+"' /><input type='hidden' value='"+res.src+"' name='categoryIco' id='categoryIco2'/>"
                $("#newImg2").html(str);
            }
            ,error: function(){
                layer.msg("上传图片失败！请重试！",{icon:5,time:2000});
            }
        });
        //--------------方法渲染TABLE----------------
        var tableIns = table.render({
            elem: '#type'
            , id: 'type'
            , url: context+'pc/category/findBySplitPage'
            , cols: [[
                { field: 'categoryType', title: '类目编号', width: 100, align: 'center' }
                , { field: 'categoryName', title: '类目名称', width: 300, align: 'center'}
                , { field: 'categoryIco', title: '类目图标', width: 300, align: 'center',templet:function (d) {
                        return '<a href="'+d.categoryIco+'"><img src="'+d.categoryIco+'"/></a>'
                    }}
                ,{ field:'categoryStatus', title: '类目状态', width: 112, align: 'center',templet: function(d){
                        if(d.categoryStatus==0){
                            return "<input type='checkbox' lay-filter='switchTest' name='"+d.categoryType+"' lay-skin='switch' lay-text='禁用|正常'>";
                        }else{
                            return "<input type='checkbox' lay-filter='switchTest' name='"+d.categoryType+"' lay-skin='switch' lay-text='禁用|正常' checked>";
                        }
                    }
                },{title: '操作', fixed: 'right', width: 160, align: 'center', toolbar: '#bar'}
            ]]
            , page: true
            , limits: [5, 10, 15]
            , limit: 10 //默认采用10
            , done: function (res, curr, count)
            {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);
                //得到当前页码
                //console.log(curr);
                $("#curPageIndex").val(curr);
                //得到数据总量
                //console.log(count);
            }
        });
        $("#add").click(function(){
            $("#categoryName2").val("");
            $("#categoryIco2").attr("src","");
            layer.open({
                type: 1,
                title: '增加商品分类信息',
                shade: 0.4,  //阴影度
                fix: false,
                shadeClose: true,
                maxmin: false,
                area: ['650px;', '350px;'],    //窗体大小（宽,高）
                content: $('#addData'),
                success: function (layero, index)
                {
                    var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                    form.render();
                    body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                },
                btn:['添加','取消'],
                yes: function(index, layero){
                    var categoryName=$("#categoryName2").val();
                    var categoryIco=$("#categoryIco2").val();
                    if($("#categoryName2").val()==null || $("#categoryName2").val()==""){
                        layer.msg('类目名称为必填项', { icon: 5, shade: 0.4, time: 2000 });
                        return
                    }
                    if($("#categoryIco2").val()==null || $("#categoryIco2").val()==""){
                        layer.msg('类目图标为必填项', { icon: 5, shade: 0.4, time: 2000 });
                        return
                    }
                    $.post(context+'pc/category/save',{categoryName:categoryName,categoryIco:categoryIco},function(res){
                        if (res.code == 0)
                        {
                            parent.layer.msg('添加分类信息成功！', { icon: 1, shade: 0.4, time: 1000 });
                            tableIns.reload();
                        }
                        else
                        {
                            parent.layer.msg('添加分类信息失败！', { icon: 5, shade: 0.4, time: 1000 });
                        }
                        layer.close(index);
                    });
                }
            });
        });
        //#region --------------批量删除----------------
        $("#delete").click(function ()
        {
            var checkStatus = table.checkStatus('type');
            var count = checkStatus.data.length;//选中的行数
            if (count > 0)
            {
                parent.layer.confirm('确定要删除所选分类？', { icon: 3 }, function (index)
                {
                    var data = checkStatus.data; //获取选中行的数据
                    var batchId = '';
                    for (var i = 0; i < data.length; i++)
                    {
                        batchId += data[i].typeId + ",";
                    }
                    $.ajax({
                        url: 'goodsType/batchDelete',
                        type: "post",
                        data: { 'batchId': batchId },
                        success: function (result){
                            if (result=="success"){
                                parent.layer.msg('删除成功', { icon: 1, shade: 0.4, time: 1000 })
                                $("#search").click();//重载TABLE
                            }else{
                                parent.layer.msg("删除失败", { icon: 5, shade: [0.4], time: 1000 });
                            }
                            parent.layer.close(index);
                        }
                    })
                });
            }
            else
                parent.layer.msg("请至少选择一条数据", { icon: 5, shade: 0.4, time: 1000 });
        });
        //#region --------------搜索----------------
        $("#search").click(function ()
        {
            var categoryName=$("#keyword").val();
            tableIns.reload({
                url:context+"pc/category/searchByName?categoryName="+categoryName,
                where: {
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        //#endregion
        form.on('switch(switchTest)',function(data){
            var categoryType=data.elem.name;
            var flag=data.elem.checked;
            if(flag){
                $.ajax({
                    type:"get",
                    url:context+"pc/category/takeOff",
                    data:"categoryType="+categoryType,
                    success:function(res){
                        if(res.code==0){
                            layer.msg('禁用分类成功！',{icon:1,time:2000});
                        }else{
                            layer.msg('禁用分类失败！请重试！',{icon:5,time:2000});
                        }
                    }
                });
            }else{
                $.ajax({
                    type:"get",
                    url:context+"pc/category/putOn",
                    data:"categoryType="+categoryType,
                    success:function(res){
                        if(res.code==0){
                            layer.msg("启用分类成功！",{icon:1,time:2000});
                        }else{
                            layer.msg("启用分类失败！请重试！",{icon:5,time:2000});
                        }
                    }
                });
            }
        });
        //工具条事件监听
        table.on('tool(type)', function (obj)
        { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'edit')
            { //编辑
                layer.open({
                    type: 1,
                    title: '编辑商品分类信息',
                    shade: 0.4,  //阴影度
                    fix: false,
                    shadeClose: true,
                    maxmin: false,
                    area: ['650px;', '350px;'],    //窗体大小（宽,高）
                    content: $('#formData'),
                    success: function (layero, index)
                    {
                        var body = layer.getChildFrame('body', index); //得到子页面层的BODY
                        $("#categoryType").val(data.categoryType);
                        $("#categoryName").val(data.categoryName);
                        $("#categoryIco").val(data.categoryIco);
                        $("#categoryImg").attr("src",data.categoryIco);
                        form.render();
                        body.find('#hidValue').val(index); //将本层的窗口索引传给子页面层的hidValue中
                    },
                    btn:['修改','取消'],
                    yes: function(index, layero){
                        if($("#categoryName").val()==null || $("#categoryName").val()==""){
                            layer.msg('类目名称为必填项', { icon: 5, shade: 0.4, time: 2000 });
                            return
                        }
                        $.post(context+'pc/category/update',$('#typeForm').serialize(),function(res){
                            if ( res.code==0)
                            {
                                parent.layer.msg('修改分类信息成功！', { icon: 1, shade: 0.4, time: 1000 });
                                tableIns.reload();
                                $("#handle_status").val('');
                            }
                            else
                            {
                                parent.layer.msg('修改分类信息失败！', { icon: 5, shade: 0.4, time: 1000 });
                            }
                            $("#newImg").html("");
                            layer.close(index);
                        });
                    }
                });
            }else if(layEvent === 'delete'){
                layer.confirm('是否删除该分类？', {
                    btn: ['确认', '取消'] //可以无限个按钮
                    ,btn1: function(index, layero){
                        $.ajax({
                            type: "get",
                            url: context+"pc/category/delete",
                            data: "categoryId="+data.categoryType,
                            success: function(res){
                                if(res.code==0){
                                    parent.layer.msg('删除成功', { icon: 1, shade: 0.4, time: 1000 });
                                }else{
                                    parent.layer.msg('删除失败', { icon: 5, shade: 0.4, time: 1000 });
                                }
                            }
                        });
                        $(tr).remove();
                        layer.close(index);
                    }
                });
            }
        });
    });
</script>
</body>
</html>